
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <img  width="150px" src="../../assets/imgs/atu3.png"/>
    </ion-buttons>
    <ion-title align-title="center">
      G00411289
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="openSettingsPage()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
      <h4>{{ quote }}</h4>
    </ion-card-header>
    <ion-card-content>
      {{ author }}
    </ion-card-content>
    <button ion-button icon-only (click)="refreshQuote()">
      <ion-icon name="refresh" ></ion-icon>
    </button>
    <ion-chip *ngFor="let tag of tags" class="ion-text-small">
      <ion-icon name="quote"></ion-icon>
      <ion-label>{{ tag }}</ion-label>
    </ion-chip>
    <button ion-button icon-only (click)="shareQuote()">
      <ion-icon name="share" ></ion-icon>
    </button>
  </ion-card>

  <ion-grid>
    <ion-row justify-right>
      <ion-col align-self-center>
        <button ion-button round outline (click)="openSettingsPage()">Set Player Data</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  
  <ion-grid>
    <!-- Display Country ID, Name and Flag -->
    <ion-row class="align-items-center">
      <ion-col size="4">
        <h1 [hidden]="hidePlayersList">Country ID : {{countryID}}</h1>
      </ion-col>
      <ion-col size="4">
        <h1 [hidden]="hidePlayersList">Name: {{countryName}}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- if there is no countryID display message on UI -->
  <ion-grid >
    <ion-row justify-content-center>
      <ion-col size="4">
        <h1 *ngIf="countryID == null">Please enter a Country ID</h1>
      </ion-col>
    </ion-row>  
  </ion-grid>

  <ion-grid [hidden]="hidePlayersList">
    <!-- display flag centered on page  -->
    <ion-row justify-content-center>
      <ion-col size="4">
        <img [src]="flagImage" alt="flag">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list [hidden]="hidePlayersList">
    <ion-list-header>
      <ion-label>Players</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="4">First Name</ion-col>
          <ion-col size="4">Surname</ion-col>
          <ion-col size="1">Age</ion-col>
          <ion-col size="1">Height</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngFor="let player of players">
      <ion-grid>
        <ion-row>
          <ion-col size="4">{{player.firstname}}</ion-col>
          <ion-col size="4">{{player.lastname}}</ion-col>
          <ion-col size="1">{{player.age}}</ion-col>
          <ion-col size="1">{{player.height}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>



