$primary-color: #4CAF50;
$secondary-color: #2196F3;

page-home {
    ion-list {
        ion-item {
        ion-label {
            color: black;
            font-size: 18px;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
        }
        }
    }

    ion-col {
        text-align: center;
        ion-label {
            font-size: 24px;
            font-weight: bold;
        }
    }

    ion-navbar {
        --background: #eee;
        --border-color: #ddd;
        --title-color: #333;
        --title-font-size: 24px;
        --title-font-weight: bold;
        --title-font-family: 'Courier New', Courier, monospace;
        --button-color: #333;
        --button-font-size: 18px;
        --button-font-weight: bold;
        --button-font-family: 'Courier New', Courier, monospace;
        width: 100%;
        margin: 0 auto;
        padding: 12px;
        ion-title {
          text-align: left;
        }
        ion-item {
            --color: #999;
            --font-size: 14px;
            --font-weight: 300;
            --font-family: 'Courier New', Courier, monospace;
            margin: 4px 0;
          }
          
      }
      

    
    button {
        color: $secondary-color;
        &:hover {
        color: $primary-color;
        }    }

    ion-card {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        ion-card-header {
          h4 {
            color: #333;
            white-space: pre-wrap;
          overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
          }
        }
        ion-card-content {
          color: #555;
          ion-chip {
            --padding-start: 10px;
            --padding-end: 10px;
            --padding-top: 4px;
            --padding-bottom: 4px;
          }
        }
          
      }
      
}
